@import"~@kros-sk/bootstrap/theming";

.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header {
  background-color: kros-blue('10');
  overflow: hidden;
}

main {
  border: solid 1px;
  height: 100%;
  width: 100%;
}
