@import"~@kros-sk/bootstrap/theming";

// .app {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }

header {
  position: fixed;
  height: 56px;
  width: 100%;
}

main {
  position: relative;
  top: 56px;
  height: 100%;
  width: 100%;
}
