@import"~@kros-sk/bootstrap/theming";

:host{
  float: left;
}

nav {
  background-color: kros-blue('10');
}

.menu {
  display: inline-block;
}

a {
  margin-right: 10px;
  text-decoration: none;
  font-size: 20px;

  &.brand {
    margin-left: 20px;
    font-weight: bold;
    font-size: 40px;
  }

  &.active{
      font-weight: bold;
  }
}


ul {
  margin: 0;
  padding-left: 20px;
}

li {
  list-style-type: none;
  display: inline;
}
